<h1>タスク管理アプリ</h1>
<p><%= notice %></p>


<%= link_to '新規投稿', new_task_path,class:"btn btn-primary" %>
<% if current_user.admin? %>
<%= link_to '管理者用-ユーザ一覧',admin_users_path ,class:"btn btn-primary" %>
<BR>
<%= link_to "全タスク表示", tasks_path,class:"btn btn-outline-warning" %>
<BR>
<% end %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true", substance_keyword: params[:substance_keyword], progress_keyword: params[:progress_keyword]),class:"btn btn-outline-dark" %>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true", substance_keyword: params[:substance_keyword], progress_keyword: params[:progress_keyword]),class:"btn btn-outline-dark" %>
<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.label :タスク名検索 %>
  <%= form.text_field :substance_keyword %>
<%= form.select :progress_keyword, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択しない" %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<%= paginate @tasks %>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>タスク名</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>ステータス</th>
      <th>優先順位</th>
    </tr>
  </thead>
<% @tasks.each do |task| %>
  <tr>
    <td class= "task_row" %><%= task.substance %></td>
    <td><%= task.content %></td>
    <% if task.period %>
      <td class= "task_period" %><%= task.period.strftime("%Y-%m-%d %H:%M") %></td>
      <% else %>
      <td><%= "期限設定なし" %>
    <% end %>
    <td><%= task.state_for_progress %></td>
    <td class= "task_priority" %><%= task.priority %></td>
    <td><%= link_to '詳細', task_path(task.id), class:"btn btn-outline-primary" %></td>
    <td><%= link_to "編集", edit_task_path(task.id), class:"btn btn-outline-success" %></td>
    <td><%= link_to '削除', task_path(task.id), class:"btn btn-outline-danger", method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
