<h1>管理者用ユーザー一覧</h1>
<p><%= notice %></p>


<table  class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>ユーザー名</th>
      <th>管理者権限</th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %><%= user.name %></td><BR>
    <td><%= user.name %></td><BR>    
    <td><%= user.admin %></td><BR>

    <td><%= link_to '詳細', admin_user_path(user.id), class:"btn btn-outline-primary" %></td>
    <td><%= link_to "編集", edit_admin_user_path(user.id), class:"btn btn-outline-success" %></td>
    <td><%= link_to '削除', admin_user_path(user.id), class:"btn btn-outline-danger", method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
    <% end %>

<%= link_to '管理者用ユーザ作成画面',new_admin_user_path ,class:"btn btn-primary" %><BR>